/* SideBar CSS */

body {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    background-color: #143B59;
    color:#fff;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}
#sidebar-wrapper .list-group .list-group-item {
    background-color: #143B59;
    color:#fff;
}
#sidebar-wrapper .list-group .list-group-item:hover, 
#sidebar-wrapper .list-group .list-group-item.active{
    background-color: #F3F4F6 !important;
    color:#000 !important;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
    .sm-logout-text {
        display:block;
    }
}
.sm-logout-text {
    width: 20%;
    float: right;
    margin-top: -7%;
}

/* Admin Dashboard */
.create_btn{
    background-color: #113C54;
    color: #fff;
}
.create_btn:hover{
    color: #fff;
}
.bg-light {
    background-color: #F5F5F5 !important;
}